@using ProjExample.Shared
@inject HttpClient Http
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ProjExample</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        @if (categories?.Length > 0)
        {
            @foreach (var categori in categories!)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="@categori.Url" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> @categori.Name
                    </NavLink>
                </div>
            }
        }
        else
        {
            <h1>загрузка</h1>
        }

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private Сategories[]? categories = { };

    protected override async Task OnInitializedAsync()
    {
        categories = await Http.GetFromJsonAsync<Сategories[]>("Categories");
    }
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
